a:hover {
    color: #0088cc;
}

a:focus {
    color: #0088cc;
}

* { box-sizing: border-box; }
.video-background {
    background: #000;
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
.video-foreground,
.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#vidtop-content {
    top: 0;
    color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
    .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
    .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
    .vid-info { width: 50%; padding: .5rem; }
    .vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
    .vid-info .acronym { display: none; }
}

.arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left:-20px;
}

.bounce {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
	60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
	40% {-moz-transform: translateY(-30px);}
	60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
	40% {-o-transform: translateY(-30px);}
	60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


.page-header {
    display: none;
}

.accent-blue {
    color: #5563d5 !important;
}

body.navbar-is-fixed-top {
    padding-top: 41px;
}

body {
    background: white;
}

.home-header div[class^="col"] {
    padding: 0px;
}

.header-box {
    text-align: center;
    font-size: 30px;
    color: white;
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.header-box.is-extra-small {
    height: 70px;
    background: white;
    padding: 10px
}

.header-box.is-small {
    min-height: 400px;
    height: 52vh;
    max-height: 600px;
    background: rgba(0,0,0,.85);
    border: 1px solid white;
}

.header-box.is-small#accent1 {
    background: rgba(54,106,219,.7);
}

.header-box.is-small#accent1:hover {
    background: rgba(54,106,219,.9);
}

.header-box.is-small#accent2 {
    background: rgba(239,71,111,.7);
}

.header-box.is-small#accent2:hover {
    background: rgba(239,71,111,.9);
}

.header-box.is-small#accent3 {
    background: rgba(255,209,102,.7);
}

.header-box.is-small#accent3:hover {
    background: rgba(255,209,102,.9);
}

.header-box.is-small#accent4 {
    background: rgba(6,214,160,.7);
}

.header-box.is-small#accent4:hover {
    background: rgba(6,214,160,.9);
}

.header-box.is-large {
    min-height: 500px;
    height: 100vh;
    max-height: 1200px;
    color: white;
    background: transparent;
}

.header-box-search input {
    color: black;
    font-size: 15px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.header-box-search-wrapper:after {
    content: '\f002';
    color: darkgrey;
    font-size: 17px;
    font-family: "FontAwesome";
}

.header-box-logo {
    max-width: 100%;
}

.header-box-search input::placeholder {
    color: lightgrey;
}

.header-box-icon img {
    max-width: 100px;
    margin: 0 auto;
}

.header-box-button .btn-sign-in {
    background: white;
    border-color: #2bbf7a;
    color: #2bbf7a;
}

.header-box.is-small .header-box-content {
    position: relative;
    top: 175px;
    font-size: 2rem;
}

.header-box.is-large .header-box-content {
    position: relative;
    top: 100px;
}

.home-stats {
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.stat {
    margin-bottom: 80px;
    padding: 10px;
    box-shadow: 0px 2px 6px 0px #3d3d3d;
    text-align;
    center;
    padding-bottom: 50px;
    border-bottom: 15px solid #5563d5;
    margin-bottom: 0px;
}

.stat.accent {
    border-color: #36be7d;
}

@media only screen and (max-width:1200px) {
    .stat {
        margin-bottom: 80px;
    }
}

.stat-icon {
    font-size: 40px;
}

.stat-text {
    font-size: 50px;
    font-weight: bold;
}

.stat-subtext {
    font-size: 20px;
}

.home-info {
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.home-info>.row {
    background: red;
}

.home-info div[class^="col"] {
    padding: 0px;
}

.info-box {
    background: rgba(0, 0, 0, .5);
    min-height: 600px;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
}

.info-content {
    color: white;
}

.info-icon {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.info-text {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.info-subtext {
    font-size: 18px;
    margin-top: 20px;
}

.home-support>.row {
    padding-top: 200px;
    padding-bottom: 100px;
    background: white;
}

.support-box {
    padding: 50px;
    border-left: 15px solid #5563d5;
    background: rgba(0, 0, 0, .85);
    color: white;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.support-text {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: light;
}

.support-subtext {
    font-size: 18px;
}

.support-image {
    text-align: center;
}

.support-image>img {
    width: 100%;
    max-width: 250px;
}

.home-news-events {
    padding-left: 100px;
    padding-right: 100px;
}

.home-news-events div[class^="col"] {
    padding: 0px;
}

.event-box-text {
    font-size: 55px;
}

.event-box-subtext {
    font-size: 18px;
}

.news-box-text {
    font-size: 40px;
}

.news-box-subtext {
    font-size: 16px;
}

.event-box {
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.event-box.is-extra-small {
    min-height: 70px;
    background: white;
    padding: 10px
}

.event-box.is-small {
    min-height: 300px;
    background: red;
    border: 1px solid white;
}

.event-box.is-large {
    min-height: 670px;
    background: lightblue;
}

.news-box {
    text-align: center;
    color: white;
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.news-box.is-extra-small {
    min-height: 70px;
    background: white;
    padding: 10px
}

.news-box.is-small {
    min-height: 300px;
    background: light;
    border: 1px solid white;
}

.news-box.is-large {
    min-height: 670px;
    background: red;
}

.event-box.is-small .header-box-content {
    position: relative;
    top: 100px;
}

.event-box.is-large .header-box-content {
    position: relative;
    top: 300px;
}

.news-box.is-small .header-box-content {
    position: relative;
    top: 100px;
}

.news-box.is-large .header-box-content {
    position: relative;
    top: 300px;
}

.see-more-box {
    text-align: center;
    color: black;
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.see-more-box.is-extra-small {
    min-height: 70px;
    background: white;
    padding: 10px
}

.see-more-box.is-small {
    min-height: 300px;
    background: white;
    border: 1px solid black;
}

.see-more-box.is-large {
    min-height: 670px;
    background: white;
    border: 1px solid black;
}

.see-more-box.is-small .header-box-content {
    position: relative;
    top: 100px;
}

.see-more-box.is-large .header-box-content {
    position: relative;
    top: 300px;
}

.news-events-header {
    font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 40px;
    text-align: left;
    font-size: 55px;
    font-weight: bold;
}

#coverimg1 {
    background-image: url(/sites/all/themes/bootstrap/images/coverimg.png);
    background-size: cover;
}

#coverimg2 {
    background-image: url(/sites/all/themes/bootstrap/images/new-jersey-skyline.png);
    background-size: cover;
}

#boximg1 {
    background-image: url(/sites/all/themes/bootstrap/images/boximg1.png);
    background-size: cover;
}

.site-header-content {
    padding: initial;
    padding-top: 100px !Important;
    min-height: 50px;
    max-height: 50px;
    height: 50px;
}

.home-header .site-header-content h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 12rem;
    color: white;
}

@media only screen and (max-width: 768px) {
    .home-header .site-header-content h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 6rem;
        color: white;
    }
}

.home-header .site-header-content h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: white;
}

.home-header .socal-links {
    margin-top: 50px;
}

.socal-links li:hover a {
    background: rgba(255,255,255,.8);
    border-radius: 25px;
}

.socal-links li:hover .fa-github {
    color: #333;
}

.socal-links li:hover .fa-linkedin {
    color: #0077b5;
}

.socal-links li:hover .fa-stack-exchange {
    color: #f48024;
}

.socal-links li:hover .fa-soundcloud {
    color: #ff8800;
}

.socal-links li:hover .fa-telegram {
    color: #0088cc;
}

.socal-links li:hover .fa-telegram {
    color: #0088cc;
}

.socal-links li:hover .fa-paypal {
    color: #003087;
}

.home-recent-post {
    min-height: 500px;
    background: white;
    z-index: 101;
    position: relative;
    padding: 50px;
}

.home-recent-post-label {
    color: black;
    font-size: 42px;
    line-height: 1em;
    padding: 30px;
    padding-bottom: 20px;
    text-align: center;
}

.home-recent-post-seperator {
    width: 120px;
    height: 5px;
    background: #000000;
    margin: 0 auto;
    border-radius: 100px;
}

.post-card-excerpt {
    line-height: 1.5em;
    font-size: 18px;
}

.subscribe-overlay-title {
    color: white;
}
